<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
</head>
<body>
    <h1><%= title %></h1>
    <p>This is CSRF-TOKEN: <%= CSRF %></p>
    <span id="csrf" data-csrf=<%= CSRF %> style="display: none"></span>
</body>
</html>